extends layout

block content
  div.nav(ng-controller='Posts')
    |Reddit Clone
    ng-md-icon(icon='add' ng-click='toggleForm()')
    |Submit Post
    input(type='text' id='search' name='search' placeholder='Search' ng-model='search')
    |Sort By {{sort}}
    select(ng-model='sort')
      option(value='voteCount') Votes
      option(value='datePosted') Date
      option(value='title') Title
    section
      div.newPost(ng-show='showForm')
        form(ng-submit='addPost(postForm.$valid)' name='postForm' novalidate)
          p
            label(for='title') Title
          p
            input(type='text' id='title' name='title' ng-model='title' ng-class="{submitted: formSubmitted}" required)
          p
            label(for='author') Author
          p
            input(type='text' id='author' name='author' ng-model='author' ng-class="{submitted: formSubmitted}" required)
          p
            label(for='img_url') Image URL
          p
            input(type='text' id='img_url' name='img_url' ng-model='imgUrl' ng-class="{submitted: formSubmitted}" required)
          p
            label(for='description') Description
          p
            input(type='text' id='description' name='description' ng-model='description' ng-class="{submitted: formSubmitted}" required)
          p
            input(type='submit' value='Submit Post')
      div.errors(ng-show="showErrors")
        p(ng-show="postForm.title.$invalid && postForm.$submitted") Please fill out Title.
        p(ng-show="postForm.author.$invalid && postForm.$submitted") Please fill out Author.
        p(ng-show="postForm.img_url.$invalid && postForm.$submitted") Please fill out Image URL.
        p(ng-show="postForm.description.$invalid && postForm.$submitted") Please fill out Description.
      //- div.errors(ng-messages="postForm.title.$error" ng-show="postForm.$submitted")
      //-   div(ng-message="required")
      //-     | Title is required
          //NG-CONTROLLER DECLARED FOR THE 2ND TIME -- WHEN AND WHY IS THIS NECESSARY??
      div.post(ng-controller='Posts' ng-repeat='post in posts | orderBy: sort : reverse=true | filter: search')
        div.pic
          img(ng-src='{{post.imgUrl}}' width='200' alt='{{post.imgUrl}}')
        div.other-stuff
          div.title
            p
              ='{{post.title}}'
              |  | 
              ng-md-icon(icon='keyboard_arrow_up' ng-click='upVote(post)')
              ng-md-icon(icon='keyboard_arrow_down' ng-click='downVote(post)')
              span(ng-class='{green:post.voteCount>0, red:post.voteCount<0}'){{post.voteCount}}
          div.author
            p By 
              ='{{post.author}}'
          div.description
            p='{{post.description}}'
          div.comments
            p.date
              ng-md-icon(icon='event')
              //- span(am-time-ago="post.datePosted")
              {{post.datePosted | fromNow}}
            p.comments |  
              ng-md-icon(icon='mode_comment' ng-click='toggleShowComments()')
              {{post.comments.length}} 
              ng-pluralize(count='post.comments.length', 
                when="{'1': 'comment',\
                  'other': 'comments'}")
            p.add-comment | 
              ng-md-icon(icon='create' ng-click='toggleAddComment()')
              |Add Comment
          div.addComment(ng-show='showAddComment')
            form(ng-submit='addComment(post)')
              label(for='comment_author') Author
              input(type='text' id='comment_author' ng-model='commentAuthor')
              label(for='comment') Comment
              input(type='text' id='comment' ng-model='comment')
              input(type='submit' value='Submit Comment')
          div.showComments(ng-show='showComments' ng-repeat="comment in post.comments")
            p='{{comment.author}}'
            p='{{comment.comment}}'
